body{
    background-color:rgb(15 23 42);
    background-position: center;
    background-size: cover;
}
.progress{
    width: 50%;
    height: 3px;
    margin-left: 25%;
}
.text{
    margin-left: 25%;
    font-size: 25px;
}
